*{
    box-sizing: border-box;
}

.home{
    padding: 0 10% 30px 10%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.background_search {
    width: 100%; /* Imposta la larghezza del contenitore */
    overflow: hidden; /* Nasconde il contenuto che supera le dimensioni del contenitore */
    position: relative; /* Imposta la posizione relativa per posizionare il contenuto */
    transition: 0.7s ease-in-out; /* Aggiungi una transizione per l'immagine di sfondo */
  }

  .background_search:before {
    content: ''; /* Crea un pseudo-elemento per contenere l'immagine di sfondo */
    background-size: cover; /* Adatta l'immagine alla dimensione del contenitore */
    height: 100%; /* Imposta l'altezza uguale al contenitore */
    position: absolute; /* Imposta la posizione assoluta */
 }


.background_search{
    width: 100%;
    height: 700px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.background_search>div{
    margin: 130px 0 0 20px;
    max-width: 600px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.background_search span{
    font-size: 70px;
    & b{
        font-size: 90px;
    }
}

.button_home{
    height: 50px;
    width: 250px;
    background-color: rgb(182, 1, 1);
    color: white;
    font-size: 19px;
    margin  : 0 100px 80px 0;
    border-radius: 10px;
    cursor: pointer;
    z-index: 10;
}

.button_home>a{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_home:hover{
    background-color: rgb(136, 1, 1);
    scale: 1.01;
}

.title_cards{
    width: 100%;
    height: 50px;
    color: white;
    font-size: 30px;
    background: linear-gradient(to right,#ca0000,#ffffff,#ffffff);
    display: flex;
    align-items: center;
    padding-left: 10px;
}

@media screen and (max-width:1300px){
    .home{
        padding: 0 0% 30px 0%;
    }
}

@media screen and (max-width:600px){
    .home{
        padding: 0 0% 30px 0%;
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .title_cards{
        background: #ca0000;   
        width: 98%;
    }

    .button_home{
        margin  : 0;
    }

    
}

@media screen and (max-width:500px){

    .home{
        padding: 0 0% 30px 0%;

    }
    
    .button_home{
        margin  : 0;
    }

    .title_cards{
        background: #ca0000;
        
    }

    .background_search>div{
        margin: 80px 0 0 20px;
    }


    .background_search span{
    font-size: 50px;
    & b{
        font-size: 70px;
    }
}
    
}